@import "../layout.scss";

.jobWanted {
  &_layout {
    width: 100%;
  }
  &_options {
    width: 100%;
    @include flex();
    align-items: center;
    &_layout {
      width: 1200px;
      padding: 40px 0 0 20px;
      &_cartTop {
        &_title {
          font-size: 18px;
          font-weight: 500;
          color: #343130;
        }
        &_tip {
          font-size: 14px;
          font-weight: 400;
          color: #606266;
        }
        &_content {
          margin-top: 20px;
          @include flex(row);
          padding-left: 20px;
          & > img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
          }
          &_right {
            margin-left: 120px;
            width: 696px;
            &_form {
              @include flex(row);
              justify-content: space-between;
              width: 696px;
              .ant-form-item {
                width: 288px;
                flex-shrink: 1;
              }
              .formItemLine {
                @include flex(row);
                width: 100%;
                justify-content: space-between;
              }
              .formItemTwo {
                width: 136px;
                margin: 0;
              }
            }
          }
        }
      }
      &_cartBottom {
        margin-top: 40px;
        &_title {
          font-size: 18px;
          font-weight: 500;
          color: #343130;
        }
        &_tip {
          font-size: 14px;
          font-weight: 400;
          color: #606266;
        }
        &_content {
          margin-top: 20px;
          @include flex(row);
          padding-left: 20px;
          &_right {
            margin-left: 176px;
          }
        }
      }
    }
    // Radio
    .formRadio {
      display: flex;
      &_item {
        flex: 1;
        border-radius: 5px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background: #f1f2f5;
        border-radius: 3px 3px 3px 3px;
        cursor: pointer;
      }
      &_active {
        border: 1px solid #f08300;
        background: #fef3e6;
        color: #f08300;
      }
      &_empty {
        margin: 0 5px;
      }
    }
    // formFloat
    .formFloat {
      margin-top: -98px;
    }
    // btn
    .btn {
      float: right;
      margin-right: 40px;
    }
  }
}
