@import "../layout.scss";
@import "../index.scss";

.tab {
  &_layout {
    width: 904px;
    height: 48px;
    background: #ffffff;
    @include flex(row);
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    &_goBack {
      width: 70px;
      @include flex(row);
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        width: 14px;
        height: 14px;
      }
      span {
        margin-left: 4px;
        font-size: 14px;
        font-weight: 400;
        color: #606266;
      }
    }
    &_tabs {
      @include flex(row);
      width: 720px;
      justify-content: space-between;
      margin-left: 40px;
    }
    &_tab {
      width: 80px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      background: #ffffff;
      box-sizing: border-box;
      cursor: pointer;
    }
    &_active {
      color: #f08300;
      border-bottom: 2px solid #f08300;
    }
  }
}
