@import "../layout.scss";
.resumeManagement {
  &_layout {
    width: 280px;
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    border-radius: 8px 8px 8px 8px;
    opacity: 1;
    border: 1px solid #ebedf1;
    padding-top: 16px;
    @include flex();
    position: relative;
    .ant-btn {
      width: 100%;
    }
  }
  &_title {
    font-size: 18px;
    font-weight: 400;
    color: #606266;
    margin-left: 16px;
  }
  &_list {
    @include flex();
    margin-top: 15px;
    margin-bottom: 15px;
    &_item {
      @include flex(row);
      height: 34px;
      align-items: center;
      margin: 0 8px;
      padding: 0 10px;
      &_img {
        width: 11px;
        height: 14px;
      }
      &_name {
        display: inline-block;
        width: 218px;
        @include textHidden();
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        margin-left: 8px;
      }
    }
    &_active {
      background: #f1f2f5;
      border-radius: 3px;
    }
  }
  &_bottom {
    margin: 16px;
  }
}
.hiddenBtn {
  .ant-modal-footer {
    overflow: hidden;
    height: 0;
  }
}
