@import "../layout.scss";
.viewPosition {
  &_layout {
  }
  &_lists {
    @include flex(row);
    justify-content: center;
    width: 100%;
    background: #fafafa;
    min-height: 1000px;
    &_content {
      @include flex(row);
      margin-top: 20px;
      width: 1200px;
      &_left {
        width: 904px;
        &_title {
          width: 100%;
          background: #ebedf1;
          padding: 32px 0 20px 20px;
          @include flex();
          .section_top {
            @include flex(row);
            height: 48px;
            &_name {
              font-size: 32px;
              font-weight: 500;
              color: #343130;
              line-height: 48px;
            }
            &_money {
              margin-left: 24px;
              font-size: 24px;
              font-weight: 500;
              color: #f08300;
              line-height: 48px;
            }
          }
          .section_bottom {
            @include flex(row);
            width: 100%;
            justify-content: space-between;
          }
          .section_icons {
            @include flex(row);
            height: 24px;
            align-items: center;
            img {
              width: 14px;
              height: 14px;
            }
            span {
              font-size: 14px;
              font-weight: 400;
              color: #9c9e9c;
              margin: 0 14px 0 2px;
            }
          }
          .section_btns {
            margin-right: 64px;
            @include flex(row);
            align-items: center;
            img {
              width: 20px;
              height: 17px;
            }
            .span {
              font-size: 18px;
              font-weight: 400;
              color: #9c9e9c;
              margin-left: 5px;
            }
            .btn {
              width: 120px;
              margin-left: 20px;
            }
          }
        }
        &_content {
          padding: 10px 0 30px 70px;
          background: #fff;
          &_first {
            font-size: 16px;
            font-weight: 500;
            color: #343130;
            margin-top: 30px;
          }
          &_postBtns {
            margin-top: 13px;
            span {
              padding: 4px 10px;
              font-size: 14px;
              font-weight: 400;
              color: #9c9e9c;
              background: #f1f2f5;
              margin-right: 12px;
            }
          }
          &_second {
            font-size: 14px;
            font-weight: 500;
            color: #606266;
            margin-top: 20px;
            margin-bottom: 10px;
          }
          &_secondItem {
            font-size: 14px;
            font-weight: 400;
            color: #343130;
          }
          &_welfareBtns {
            margin-top: 12px;
            span {
              background: #fef3e6;
              border-radius: 3px 3px 3px 3px;
              font-size: 14px;
              font-weight: 400;
              color: #f08300;
              padding: 2px 10px;
              margin-right: 12px;
            }
          }
        }
      }

      &_right {
        width: 280px;
        height: 300px;
        margin-left: 16px;
        padding: 18px 20px 0 20px;
        .right_divTop {
          width: 280px;
          height: 132px;
          background: #ebedf1;
          border-radius: 8px 8px 8px 8px;
          @include flex(row);
          align-items: center;
          position: relative;
          img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-left: 20px;
          }
          &_name {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 400;
            color: #606266;
          }
          &_btn {
            position: absolute;
            right: 25px;
            // margin-left: 32px;
            @include flex(row);
            justify-content: center;
            align-items: center;
            img {
              width: 14px;
              height: 12px;
            }
            span {
              font-size: 12px;
              font-weight: 400;
              color: #606266;
              margin-left: 2px;
            }
          }
        }
        .right_divTip {
          width: 280px;
          height: 194px;
          background: #ffffff;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
          border-radius: 8px 8px 8px 8px;
          opacity: 1;
          border: 1px solid #ebedf1;
          padding: 20px;
          position: relative;
          img {
            width: 56px;
            height: 56px;
          }
          .span {
            position: absolute;
            top: 34px;
            left: 84px;
            font-size: 20px;
            font-weight: 500;
            color: #343130;
          }
          .btn {
            margin-top: 10px;
            padding: 4px 10px;
            background: #f1f2f5;
            border-radius: 3px 3px 3px 3px;
            opacity: 1;
          }
          div {
            margin-top: 10px;
            // @include flex();
          }
        }
        .right_divList {
          padding: 18px 10px 20px 20px;
          margin-top: 16px;
          width: 280px;
          background: #ffffff;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
          border-radius: 8px 8px 8px 8px;
          opacity: 1;
          border: 1px solid #ebedf1;
          &_title {
            font-size: 18px;
            font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;
            font-weight: 400;
            color: #606266;
          }
          &_section {
            margin-top: 20px;
            &_top {
              width: 100%;
              @include flex(row);
              height: 26px;
              justify-content: space-between;
              &_name {
                font-size: 16px;
                font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;
                font-weight: 400;
                color: #343130;
              }
              &_money {
                font-size: 16px;
                font-weight: 400;
                color: #f5383a;
              }
            }
            .section_center {
              margin-top: 13px;
              span {
                background: #f1f2f5;
                border-radius: 3px 3px 3px 3px;
                font-size: 14px;
                font-weight: 400;
                padding: 2px 10px;
                margin-right: 12px;
              }
            }
            .section_bottom {
              margin-top: 13px;
              @include flex(row);
              align-items: center;
              position: relative;
              width: 100%;
              img {
                width: 24px;
                height: 24px;
              }
              &_name {
                font-size: 14px;
                font-weight: 400;
                color: #606266;
              }
              &_address {
                position: absolute;
                right: 10px;
                font-size: 14px;
                font-weight: 400;
                color: #606266;
              }
            }
          }
        }
      }
    }
  }
}
#mapcontainer {
  width: 480px;
  height: 160px;
}
